/* /////////////////////////////////////////////////////////////////////////////////////////////////
extraTopMenu */
#extraTopMenu .QLabel {
	color: rgb(143, 143, 143);
}

#extraTopMenu .QComboBox {
	background-color: rgb(33, 37, 43);
	color: rgb(255, 121, 198);
}

#extraTopMenu .QLineEdit {
	background-color: rgb(33, 37, 43);
}

#extraTopMenu .QPushButton {
	background-color: rgb(52, 59, 72);
}

#extraTopMenu .QPushButton:hover {
	background-color: rgb(40, 44, 52);
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////
tput_page */


QRadioButton::indicator:checked {
	background: 3px solid rgb(189, 147, 249);
	border: 3px solid rgb(52, 59, 72);
}


QCheckBox::indicator:checked {
	background: 3px solid rgb(189, 147, 249);
	border: 3px solid rgb(52, 59, 72);
}

QCheckBox:disabled {
	color: rgb(111, 111, 112);
}


#frame_tput QFrame:hover {
	border: 2px solid rgb(64, 71, 88);
}

#frame_tput .QPushButton {
	color: #ffffff;
	background-color: rgb(52, 59, 72);
}

#frame_tput .QPushButton:hover {
	background-color: rgb(40, 44, 52);
}

#frame_tput .QPushButton:pressed {
	background-color: rgb(189, 147, 249);
	color: rgb(255, 255, 255);
}

#frame_tput .QPushButton:checked {
	background-color: rgb(189, 147, 249);
	color: rgb(255, 255, 255);
}

#frame_tput .QComboBox {
	background-color: rgb(33, 37, 43);
	color: rgb(255, 121, 198);
}

#frame_tput .QComboBox:disabled {
	background-color: rgb(33, 37, 43);
	color: rgb(152, 73, 118);
}

#frame_tput QToolTip {
	color: #ffffff;
	background-color: rgba(33, 37, 43, 180);
	border: 1px solid rgb(44, 49, 58);
	background-image: none;
	background-position: left center;
	background-repeat: no-repeat;
	border: none;
	border-left: 2px solid rgb(255, 121, 198);
	text-align: left;
	padding-left: 8px;
	margin: 0px;
}

#frame_tput QLineEdit {
	color: rgb(255, 121, 198);
	background-color: rgb(33, 37, 43);
	border-radius: 5px;
	border: 2px solid rgb(33, 37, 43);
	padding-left: 10px;
}

#frame_tput QLineEdit:hover {
	border: 2px solid rgb(64, 71, 88);
}

#frame_tput QLineEdit:focus {
	border: 2px solid rgb(91, 101, 124);
}

#frame_tput #label_btslog_status {
	border-radius: 12px;
	border: 2px solid rgb(52, 59, 72);
}

#frame_tput #label_btslog_status:hover {
	border-radius: 12px;
	border: 2px solid rgb(52, 59, 72);
}

#frame_tput #label_btslog_status:disabled {
	border-radius: 12px;
	border: 2px solid rgb(52, 59, 72);
	background-color: lawngreen;
}

#frame_tput .QLabel {
	color: rgb(143, 143, 143);
}

#frame_tput .QLabel:hover {
	border: none;
}

#splitter .QLabel {
	color: rgb(143, 143, 143);
}

#splitter QTextBrowser {
	background-color: rgb(33, 37, 43);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////
main */
QMessageBox {
	background-color: rgb(40, 49, 58);
}

QMessageBox QLabel {
	color: rgb(229, 236, 229);
}

QMessageBox QPushButton:hover {
	background-color: rgb(87, 103, 133);
}

QMessageBox QPushButton:pressed {
	background-color: rgb(189, 147, 249);
	color: rgb(255, 255, 255);
	padding-left: 6px;
	padding-top: 6px;
}